.Navbar {
    height: 100px;
    background-color: black;
    display: flex;
  }


  .title {
    color: aliceblue;
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: xx-large;
    padding: 30px;
  }


  .links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: space-evenly;
    padding-left: 30px;
  }


  .nextlinks {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: end;
    
  }

  .links a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-size: larger;
  }
  .nextlinks a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: large;

  }